<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table
        {
            background-color: black;
            color: purple;
        }
    </style>
</head>
<body>
    <center>
        <h1>display_dept</h1>
        <table border="3px">
            <tr>
                <th>deptno</th>
                <th>deptname</th>
                <th>location</th>

            </tr>
{% for do in QLDO %}
<tr>
    <td>{{do.deptno}}</td>
    <td>{{do.deptname}}</td>
    <td>{{do.location}}</td>
</tr>

{% endfor %}            
        </table>
    </center>
</body>
</html>