<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table
        {
            background-color: black;
            color: purple;
        }
    </style>
</head>
<body>
    <center>
        <h1>display_bonus</h1>
        <table border="3px">
            <tr>
                <th>grade</th>
                <th>sal</th>
            </tr>
{% for bo in QLBO %}
<tr>
    <td>{{bo.grade}}</td>
    <td>{{bo.sal}}</td>
</tr>

{% endfor %}            
        </table>
    </center>
</body>
</html>